<h1>Create a New Article</h1>
<form action="/articles" method="post">
  <p><strong>Title:</strong> <input type="text" name="title"></p>
  <p><strong>Content:</strong> <input type="text" name="content"></p>
  <input type="submit" value="submit">
</form>