<form action="/articles" method="POST">

    <label for "name">Title: <input type="text" id="title" name="title"></label>
    <label for "name">Content: <input type="text" id="content" name="content"></label>

    <input type="submit" id="submit">
</form>