<form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>
    Title:
    <input id="title" type="text" name="article[title]" value="<%= @article.title %>" />
  </label>

  <label>
    Content:
    <input it="content" type="textarea" name="article[content]" value="<%= @article.content %>" />
  </label>

  <input id="submit" type="submit" name="submit" />
</form>
