<form method="post" action="/articles">
  <label for="title">Enter article title: </label>
  <input id="title" type="text" name="title">
  <label for="content">Enter article content: </label>
  <input id="content" type="text" name="content">
  <input type="submit" id="submit">
</form>
