<form post="/articles" method="POST">
  <label>Title:</label>
    <input id="title" type="text" name="title" />


  <label>Content:</label>
    <input it="content" type="text" name="content" />

  <input id="submit" type="submit" name="submit" />
</form>
