<h1><%= @article.title %></h1>

<p><%= @article.title %></p>

<form method="POST" action="/articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" name="delete" value="delete" />
</form>
