<DOCTYPE!>
<html> 
    <p>
    <%= @article.title %>
        <%= @article.content %>

    <form method="post" action="/articles/<%= @article.id %>">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="submit">
    </form>
    </p>
</html>