<h1><%= article.title %></h1>
<p><%= article.content %></p><br>
<form action="articles/<%= article.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">
<input type="submit" name="delete" value="delete">
